@charset "ISO-8859-1";

/*
@media (min-width: 768px){
	.container, .container-md, .container-sm {
	    max-width: 100%;
	}
	
}

@media (min-width: 576px){
	.container, .container-sm {
	    max-width: 100%;
	}
}
*/
.appettit-logo{
	width: 60px;
}

.bg-light {
    background-color: #f2a22c!important;
}

.navbar-toggler {
    font-size: 2.25rem;
}

.container, .container-md, .container-sm {
    max-width: 100%;
}


.container-scroller {
	display: flex;
	position: relative;
}

.container-scroller {
	overflow: hidden;
}

.main-panel {
	transition: width 0.25s ease, margin 0.25s ease;
	width: 100%;
	min-height: calc(100vh - 148px);
	padding-top: 148px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.top-header {
	font-size: 12px;
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
	-webkit-transform-origin: top;
	transform-origin: top;
	font-weight: 600;
}

/*Datepicker*/
.ui-datepicker-trigger{
	width: 2rem !important;
	height: 2rem !important;
}

.ui-datatable, ui-widget{
	font-size: 0.9rem !important;
}

.ui-datatable .ui-datatable-data > tr > td {
 padding: 0.5rem 0.5rem !important;
}

.ui-datatable tbody td {
white-space: nowrap !important;
}

#map_add, #map_upd, #map_view{
	width: 436px !important;
	height: 320px !important;
	
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #008037 !important;
}

.nav-item .nav-link {
    font-weight: 600;
}

.text-secondary {
    color: #008037 !important;
}

a.text-secondary:focus, a.text-secondary:hover {
    color: #f2a22c !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #f2a22c !important;
}

.dropdown-menu {
    border: 1px solid #008037 !important;
}

.list-group-item {
    background-color: #fff;
    border: 0px;
}
.list-group-item-action:focus, .list-group-item-action:hover {
    z-index: 1;
    color: #fff;
    text-decoration: none;
    background-color: #f2a22c;
}

.ms-chart-label{
	position: absolute;
	right: 1rem;
	border-radius: 25px;
	color: #fff;
	padding: 0.25rem 0.75rem;
}

.btn-primary {
    color: #fff !important;
    background-color:  #f2a22c !important;
    border-color: #008037 !important;
}


.btn-primary.focus, .btn-primary:focus {
   	background-color: #008037;
    border-color: #f2a22c;
    box-shadow: 0 0 0 0.2rem rgb(242 162 44 / 50%);
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #008037 !important;
    border-color: #f2a22c !important;
}

.img_list_data {
    max-width: 32px;
    border-radius: 50%;
    margin-right: 5px;
}

.scroll {
    overflow-y: auto;
}

.card{
	height: 100%;
}

.leflet-map {
    height: 25rem;
    position: relative;
}

.p-datepicker > input{
	height: calc(1.5em + .5rem + 2px);
	width: 100%;
}


.p-datepicker-panel .ui-timepicker .ui-icon {
    text-indent: 0 !important;
}

body .ui-datepicker .ui-picker-up .ui-icon:before {
    content: "\e903";
}

body .ui-datepicker .ui-picker-down .ui-icon:before {
    content: "\e902";
}

.ui-datepicker .ui-icon {
    overflow: visible !important;
}

#messages_container, .ui-dialog, .ui-selectonemenu-panel{
	z-index: 1100 !important;
}

.ui-fileupload-content{
	display: nonne !important;
}

div.product-grid-item img {
	max-width: 200px;
	max-height: 200px;
}

.ui-rating{
	height: auto !important;
}

.ui-growl-item {
	margin-top: 75px; 	
}
.product-grid-item{
	padding: 2rem;
} 

.product .product-grid-item .product-price {
	font-size: 1.5rem;
	font-weight: 600;
}

.product .product-grid-item .product-grid-item-top, .product .product-grid-item .product-grid-item-bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.status-restaurante-pendiente{
	background-color: #ffc107!important;
	color: #343a40!important;
}

.status-restaurante-aprobado, .bloqueado-restaurante-false{
	background-color: #28a745!important;
	color: #fff!important;
}

.status-restaurante-rechazado, .bloqueado-restaurante-true {
	background-color: #dc3545!important;
	color: #fff!important;
}

.restaurante-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.restaurante-name-card{
	font-weight: 600;
    vertical-align: middle;
}

.img-profile{
	width: 3rem;
	height: 3rem;
	border: 1px solid #008037 !important;
}

.p-shadow-2 {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    width: 4rem;
	height: 4rem;
    
}